
.menu ul{
    display: flex;
    justify-content: space-evenly;

}

.menu li{
    text-decoration: none;
    text-decoration-color: none;

}

.imgTopo{
    display: flex;
    width:100%;
    height:290px ;
}

.aep {
    vertical-align: 0.71cm;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

header{
    background-color: #2BAB6E;
    width:100% ;
    height: 371px;
    align-items: center;
}

.menu a{
    background: #E7BCF2;
    padding: 10px ;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu {
    margin: -75px; 
    margin-inline-start: 30%;
    margin-inline-end: 10px;

}

body{
    overflow-x: hidden;
}

#titulo{
    padding: 50px ;
}

.img{
    padding: 30px;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    margin-left: 135px;
}

main {
padding: 20px;
}

.container {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 20px;
}

.form-section, .image-section {
background: #E7BCF2;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 45%;
}
.image-section img{
width: 650px;
height:auto;
display: block;
margin-left: auto;
margin-right: auto;


}
.form-section {
display: flex;
flex-direction: column;
gap: 20px;
}

.form-group {
margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"], input[type="date"] 

.image-section img{
    width: 650px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #5C87B2;
    color:white;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #2BAB6E;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

footer nav a {
    color: white;
    text-decoration: none;
}