
.menu ul{
    display: flex;
    justify-content: space-evenly;
}

.menu li{
    text-decoration: none;
    text-decoration-color: none;

}

.imgTopo{
    display: flex;
    width:100%;
    height:290px ;
}

.aep {
    vertical-align: 0.71cm;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

header{
    background-color: #2BAB6E;
    width:100% ;
    height: 371px;
    align-items: center;
}

.menu a{
    background: #E7BCF2;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;    
    text-decoration: none;
}

.menu {
    margin: -75px; 
    margin-inline-start: 30%;
    margin-inline-end: 10px;
}

body{
    overflow-x: hidden;
}

#titulo{
    padding: 50px ;
}

.img{
    padding: 30px;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    margin-left: 135px;
}


section ul img{
    margin-bottom: 20px;
    width: 130px;
    height: 150px;  
    box-shadow: 4px 4px 12px #aaaa;
}

section ul {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    width: 100%; 
}

main h2 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

main section p {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #2BAB6E;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
.img{
flex-direction: row;
display: flex;    
gap: 75px;
justify-content: center;
margin-right:189px;

}
.img img{
    width: 190px;
    height: 200px;
    border-radius: 20px;
}


.colaboradores{
    display: flex;    
    gap: 120px;
    justify-content: center;
    margin-top: -240px;
    font-family:"Calistoga", serif;
    list-style-type: none;
    
}

.texto{
    background-color: #E7BCF2;
    border-radius: 20px;
    margin: 10px 100px 50px 100px ;
    padding: 30px;
    font-size: 20px;    
}

